.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px
}

.chatcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hometopbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 65vh
}

.homebottombox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 55vh
}

.homeboxbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.homeboxabout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 100px
}

.homebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 200px;
  padding-right: 200px;
  border-radius: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.loginbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 120px;
  padding-right: 120px;
  border-radius: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.chatboxheader {
  display: flex;
  width: 80vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  justify-content: space-between;
}

.chatbox {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 80vw;
}

.chatbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  margin-left: 20px
}

.chatbuttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputfield {
  margin-top: 3vh;
  height: 3vh;
  border-radius: 20px
}

.logo {
  height: 130px;
}

.aboutimg {
  width: 200px;
}

.infoimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.info {
  padding-top: 50px;
  height: 250px
}

.desk {
  padding-top: 50px;
  height: 220px
}

.h1 {
  padding-bottom: 50px;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 50px;
  color: #00568c
}

.h2 {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 40px;
  color: #00568c
}

.h3 {
  font-family: 'Source Sans Pro';
  font-weight: 200;

  font-size: 30px;
  color: #00568c
}

.h4 {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 25px;
  color: #00568c
}

.chat {
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 20px;
  color: #00568c
}

.pink {
  background-color: #ffc6c9
}

.yellow {
  background-color: #fff0e2
}

.blue {
  background-color: #00568c
}

.toppad {
  padding-top: 50px
}

.chatroom {
  // width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: center;
  padding: 5%;

}
.chatroom_header {
  flex: 1;

  display: flex;
  justify-content: space-between;

}
.chatroom_title {
  flex: 6;

}
.chatroom_count {
  flex: 1;

}
.chatroom_countDescrip {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.chatroom_messages_box {
  flex: 6;

  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

}
.chatroom_messages_box h2 {
  flex: 1;

}

.chatroom_messages {
  flex: 6;

}
.chatroom_msg {
  font-size: 18px;
  margin: 5px 10px;
  // font-weight: 400;

}
.own_msg {
  color: grey; // any color but different from other msgs!

}
.system_msg {
  color: grey; // any color but different from other msgs!
  font-style: italic;

}
.chatroom_msg_username {
  font-weight: bold;

}
.chatroom_msg_content {
  //any style for each message body
}
.typing_user {
  font-style: italic;

}
.chatroom_new_message {
  display: flex;
  flex-basis: none;
  align-items: center;
}
.chatroom_new_message_text {
  width: 80%;
  flex: 7;
  // background-color: __INSERT COLOR__

}
.chatroom_new_message_btn {
  flex: 1;
  margin-left: 5px;
  // background-color: __INSERT COLOR__

}
