h1 {
  font-family: helvetica;
  font-weight: 200;
}

.thumbnail {
  width: 60px;
}

#appContainer {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
}

.main {
  display: flex;
}

.feed {
  flex: 1;
}

.sideBar {
  flex: 1;
  display: flex;
  flex-direction: column;
}
